version: 2
updates:
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "monthly"
      commit-message:
        prefix: "build(deps/ci)"
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "monthly"
